[Unit]
Description=Deep Blue Sky Discord Bot

[Service]
User=ubuntu
Group=ubuntu
Type=simple
ExecStart=/home/ubuntu/python/discord/deep-blue-sky/deep-blue-sky.sh
Restart=always

[Install]
WantedBy=multi-user.target
